<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/img/health.ico">
    <link rel="stylesheet" href="../static/Style1.css"
    <link rel="stylesheet" href="{{ url_for('static',filename='Style1.css')}}">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    *{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    }
    html,
    body,
    header,
    #intro {
    height: 100%;
    }
    img {
    display: block;
    max-width: 100%;
    height: auto;
    }
    </style>
    <title>Breast Cancer Prediction</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Health App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          
        </div>
      </nav>
      <!--Mask-->
      <div id="intro" class="container-fluid view ">
        <h1 class="text-center text-capitalize pt-5">Cancer Prediction</h1>
        <hr class="w-75 mx-auto pt-5">
        <div class="row mb-5">
          <div class="col-lg-6 col-md-6 col-12 my-auto">
            <div class="body genealogy-body genealogy-scroll">
              <div class="genealogy-tree">
                  <ul>
                      <li>
                          <a href="javascript:void(0);">
                              
                              <div class="member-view-box">
                                  <div class="container1">
                          
                                  <div class="member-image">
                                      <img id ="lungcncr" src="{{ logoimg }}"alt="Member">
                                      <div class="member-details">
                                          <h3>Cancer</h3>
                                          <p>Cancer is a disease in which some of the body's cells grow </p>
                                          <p>uncontrollably and spread to other parts of the body.</p>
                                      </div>
                                  </div>
                              </div>
                              </div>
                          </a>
                          <ul class="active">
                              <li>
                                  <a href="javascript:void(0);">
                                      <div class="member-view-box">
                                          <div class="member-image">
                                              <img id="lungcancer1" src="{{ url_for('static', filename='lungcancer1.jpg') }}">
                                              <div class="member-details">
                                                  <h3>Lung Cancer</h3>
                                                  <p>Lung Cancer is the uncontrolled growth of</p> 
                                                  <p>malignant cells that originate in the lungs.</p>
                                              </div>
                                          </div>
                                      </div>
                                  </a>
                                  <ul >
                                      <li>
                                          <a href="javascript:void(0);">
                                              <div class="member-view-box">
                                                  <div class="member-image">
                                                      <div class="member-details">
                                                          <h3>Small Cell</h3>
                                                          <dl>
                                                            <dt>Lungs related</dt>
                                                            <dd>- Persistent Cough</dd>
                                                            <dd>- Shortness of breath</dd>
                                                            <dd>- Repeated respitory infections</dd>
                                                            <dt>Physical body related</dt>
                                                            <dd>- Back,shoulder and chest pain</dd>
                                                          </dl> 
                                                            
                                                      </div>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="javascript:void(0);">
                                              <div class="member-view-box">
                                                  <div class="member-image">
                                                      
                                                      <div class="member-details">
                                                          <h3>Long Cell</h3>
                                                          <dl>
                                                            <dt>Cough related</dt>
                                                            <dd>- Persistent Cough</dd>
                                                            <dd>- Blood presence in cough</dd>
                                                            <dt>Lungs related</dt>
                                                            <dd>- Repeated respitory infections</dd>
                                                            <dd>- Shortness of breath</dd>
                                                            <dt>Physical body related</dt>
                                                            <dd>- Back,shoulder and chest pain</dd>
                                                            <dd>- Uintentional weight loss</dd>
                                                          </dl>  
                                                           
                                                      </div>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      
                                      <li>
                                          
                                          <ul>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                              <div class="member-details">
                                                                  <h3>Member 1-3-1</h3>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                              <div class="member-details">
                                                                  <h3>Member 1-3-2</h3>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                              <div class="member-details">
                                                                  <h3>Member 1-3-3</h3>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li>
                                          </ul>
                                      </li>
                                      
                                
                                      
                                      
                                      
                                          <ul>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                              <div class="member-details">
                                                                  <h3>Member 1-7-1</h3>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                              <div class="member-details">
                                                                  <h3>Member 1-7-2</h3>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                                  <ul>
                                                      <li>
                                                          <a href="javascript:void(0);">
                                                              <div class="member-view-box">
                                                                  <div class="member-image">
                                                                      <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                                      <div class="member-details">
                                                                          <h3>Member 1-7-2-1</h3>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </a>
                                                      </li>
                                                      <li>
                                                          <a href="javascript:void(0);">
                                                              <div class="member-view-box">
                                                                  <div class="member-image">
                                                                      <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                                      <div class="member-details">
                                                                          <h3>Member 1-7-2-2</h3>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </a>
                                                      </li>
                                                      <li>
                                                          <a href="javascript:void(0);">
                                                              <div class="member-view-box">
                                                                  <div class="member-image">
                                                                      <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                                      <div class="member-details">
                                                                          <h3>Member 1-7-2-3</h3>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </a>
                                                      </li>
                                                  </ul>
                                              </li>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                              <div class="member-details">
                                                                  <h3>Member 1-7-3</h3>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">
                                      <div class="member-view-box">
                                          <div class="member-image">
                                              <img src="{{ url_for('static', filename='breastcancer.jpg') }}">
                                              <div class="member-details">
                                                  <h3>Breast Cancer</h3>
                                                  <p> Breast cancer is a disease in which malignant (cancer)</p>
                                                  <p>cells form in the tissues of the breast.</p>
                                                </div>
                                          </div>
                                      </div>
                                  </a>
                                  
                                  <ul class="active">
                                      <li>
                                          <a href="javascript:void(0);">
                                              <div class="member-view-box">
                                                 
                                                      
                                                      <div class="member-details">
                                                          <h3>Ductal carcinoma</h3>
                                                          <p>Ductal carcinoma in situ (DCIS) is the presence</p>
                                                          <p>of abnormal cells inside a milk duct in the breast.</p>
                                                          <dl>
                                                            <dt>Physical</dt>
                                                            <dd>- A breast lump</dd>
                                                            <dd>- Redness of the skin of the breast</dd>
                                                            <dd>- Persistent breast pain.</dd>
                                                            </dl> 
                                                      </div>
                                                  
                                              </div>
                                          </a>
                                        <ul>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                         
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg">
                                                            
                                                              <div class="member-details">
                                                                
                                                              </div>
                                                          
                                                      </div>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg">
                                                              <div class="member-details">
                                                                  <h3></h3>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg" >
                                                              <div class="member-details">
                                                                  
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li>
                                          <a href="javascript:void(0);">
                                              <div class="member-view-box">
                                                  
                                                      <div class="member-details">
                                                        <h3>Invasive Ductal Carcinoma</h3>
                                                        <p>It is considered the earliest form of breast cancer. </p>
                                                        <p>It is noninvasive, meaning it hasn't spread out of </p>
                                                        <p>the milk duct and has a low risk of becoming invasive.</p>
                                                        <dl>
                                                          <dt>Physical</dt>
                                                          <dd>- Skin irritation </dd>
                                                          <dd>- Nipple turning inward.</dd>
                                                          <dd>- Persistent breast pain.</dd>
                                                          </dl>
                                                      </div>
                                                  
                                              </div>
                                          </a>
                                          <ul>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg">
                                                              <div class="member-details">
                                                                  
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                              <div class="member-details">
                                                                  
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                              <div class="member-details">
                                                                  
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li>
                                          <a href="javascript:void(0);">
                                              <div class="member-view-box">
                                                  
                                                      <div class="member-details">
                                                          <h3>lobular carcinoma</h3>
                                                          Needs mammograms tests.
                                                      </div>
                                                  
                                              </div>
                                          </a>
                                        <ul>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                              <div class="member-details">
                                                                  
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                              <div class="member-details">
                                                                  
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="javascript:void(0);">
                                                      <div class="member-view-box">
                                                          <div class="member-image">
                                                              <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                              <div class="member-details">
                                                                  
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li>
                                              <a href="javascript:void(0);">
                                                  <div class="member-view-box">
                                                      <div class="member-image">
                                                          <img src="../1000_F_204638953_hUFkBUkb3vFhG0hhcAASsHXwCGaGV703.jpg">
                                                          <div class="member-details">
                                                          
                                                          </div>
                                                      </div>
                                                  </div>
                                              </a>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <form action="{{ url_for('predict')}}" method="POST">
              <div class="form-group">
                <!-- TODO : Year to accept only year date picker -->
                <br><br><br>
                <label for="concave points_mean">Mean of the Concave Points</label>
                <input class="form-control" type="number" id="concave points_mean" name="concave points_mean" required="required" placeholder="Mean of the Concave Points">
              </div>
              <div class="form-group">
                <label for="area_mean">Mean of the Area</label>
                <input class="form-control" type="number" step="any" id="area_mean" name="area_mean" required="required" placeholder="Mean of the Area">
              </div>
              <div class="form-group">
                <label for="radius_mean">Mean of the Radius</label>
                <input class="form-control" type="number" id="radius_mean" name="radius_mean" required="required" placeholder="Mean of the radius">
              </div>
              <div class="form-group">
                <label for="perimeter_mean">Mean of the Perimeters</label>
                <input class="form-control" type="number" id="perimeter_mean" name="perimeter_mean" required="required" placeholder="Mean of the Parameter">
              </div>
              <div class="form-group">
                <label for="concavity_mean">Mean of the Concavity</label>
                <input class="form-control" type="number" id="concavity_mean" name="concavity_mean" required="required" placeholder="Mean of the concavity">
              </div>
              <button type="submit" class="btn btn-danger">Predict</button>
            </form>
          </div>
        </div>
      </div>
      <!--/.Mask-->
    </header>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
$(function () {
    $('.genealogy-tree ul').hide();
    $('.genealogy-tree>ul').show();
    $('.genealogy-tree ul.active').show();
    $('.genealogy-tree li').on('click', function (e) {
        var children = $(this).find('> ul');
        if (children.is(":visible")) children.hide('fast').removeClass('active');
        else children.show('fast').addClass('active');
        e.stopPropagation();
    });
});
</script>
  </body>
</html>